[Include]
  path = ~/.config/git/gitconfig.default

[user]
  name = yourname
  email = yourname@example.com
[core]
  sshCommand = "ssh -i ~/.ssh/ed25519_yourname"

[includeIf "gitdir:~/Development/kagenmi/"]
  path = ~/.config/git/gitconfig.kagenmi
