[user]
  name = default-user
  email = default-user@example.com
[pull]
  rebase = false
  ff = only
[core]
  ignorecase = false
  pager = less -F -X
  editor = vim
  sshCommand = "ssh -i ~/.ssh/ed25519_default"
[merge]
  ff = false
[push]
  autoSetupRemote = true

[includeIf "gitdir:~/Development/kagenmi/"]
  path = ~/.config/git/gitconfig.kagenmi
