# OS-specific
.DS_Store

# swap files
*.swp
*.swo

# python
__pycache__
venv

# general
*.local
**/local/

# tmux
tmux/error-logs.txt
tmux/tmux-client-*.log
tmux/plugins/*

# zsh
zsh/archives
zsh/shortcuts.zsh
zsh/custom

# nvim
nvim/lazy-lock.json
CLAUDE.md
CLAUDE.local.md
